# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
.vite/

# Firebase
.firebase/
*-debug.log

# TypeScript build info
*.tsbuildinfo